// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #2D565E;
  color: white;
  text-align: center;
  margin: 0px 0px;
  padding: 30px;
}
.container h1 {
  color: #F4E95C;
}

.btn {
  background-color: #3079AB;
  color: black;
}

.btn :hover {
  color: #F4E95C;
}
